#-------------------------------
#   Created by OS
#-------------------------------
# Windows
Thumbs.db
# Mac
.DS_Store

#-------------------------------
#   Created by Editor
#-------------------------------


#-------------------------------
#   Cache
#-------------------------------
__pycache__